$body-font: Montserrat, sans-serif;

$breakpoints: (
    'xs': 0px,
    'sm': 480px,
    'md': 768px,
    'lg': 992px,
    'xl': 1440px,
);

$bg-header: #fff;
$bg-footer: #eaeaf2;
$border-light: #eaeaf2;
$border: rgba(105, 106, 147, 0.1);;
$text-primary: #2b2b2b;
$text-secondary: #696a93;
$ps-orange: #ff9939;
$ps-orange-dark: #dc822d;
$bg-secondary: #f6f6fb;
$shadow: #bdbdbd;
$tanzanite: #b7418e;
$loading: #e2e2e2;
