@import 'mixins';
@import 'variables';

.app {
    margin: 0 auto;
    position: relative;
    display: flex;
    min-height: 100%;
    padding: 0 0px;
    flex-direction: column;
    align-items: center;
    background: #e5e5e5;
}

.content {
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #F9FAFA;
    position: relative;
}

.bodyContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 33px;
}