.miniCard {
    width: 294px;
    height: 84px;
    background: white;
    border-radius: 5px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
    margin-right: 12px;
    margin-bottom: 12px;
}

.image {
    margin: auto;
}

.imageSection {
    background: #F9FAFA;
    border-radius: 10px 5px 5px 10px;
    display: flex;
    justify-content: center;
    padding: auto;
    width: 84px;
    height: 84px;
}

.textSection {
    margin-left: 10px;
    margin-right: 40px;
    font-family: "Regular Pro Bold";
    color: black;
    line-break: normal;
    width: 159px;
}

.iconlogo {
    width: 20px;
    height: 20px;
    position: absolute;
    &--normal {
        right: 11px;
    }
    &--mini {
        right: 16px;
    }
}

.miniText {
    position: absolute;
    right: 7px;
    bottom: 3px;
    text-transform: uppercase;
    color: #001D29;
    font-size: 10px;
    line-height: 18px;
}