.contentBar {
    width: 100%;
    margin-left: 118px;
    padding-top: 46px;
    margin-bottom: 150px;
}

.advancedNext {
    color: #88979E;
    font-family: Barlow;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-top: 22px;
    margin-left: 520px;
}

.iconUp {
    width: 12.35px;
    height: 20px;
    margin-top: 140px;
    margin-left: 650px;
}